body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 16px;
  background-color: #1c1b1a;
}
div {
  background-color: #eeeeee;
  border-radius: 5px;
  color: #1c1b1a;
  max-width: 300px;
  padding: 16px;
  overflow: hidden;
  transition: 0.6s;
  transform: translate(0);
  font-weight: 400;
}
div:hover {
  color: #eeeeee;
}
div p {
  margin: 0px;
}
div::before {
  content: "";
  position: absolute;
  top: -75px;
  right: -45px;
  z-index: -1;
  background: linear-gradient(to left, #ff7710, #bb4e27);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 0.6s;
}
div:hover::before {
  transform: scale(4.5);
}
