@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  --darkness: rgb(0 0 0 / 50%);
  --torch-radius: 250;
  --position-y: 100px;
  --position-x: 100px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-shadow: 2px 2px 0 rgb(0 0 0 / 50%), 4px 4px 2px rgb(0 0 0 / 70%);
}

.container {
  background: #ff7710;
  width: 100%;
  height: 100%;
}

.container::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkness);
  background-image: radial-gradient(
    circle closest-side at var(--position-x) var(--position-y),
    #fff 0%,
    #fff,
    var(--darkness) var(--torch-radius) px,
    var(--darkness),
    var(--darkness)
  );
  mix-blend-mode: multiply;
  pointer-events: none;
  animation: animate-torch 10s ease infinite alternate;
  transition: background-image 2s ease;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  font-family: "Montserrat", sans-serif;
  color: #ef5a0f;
}

.light {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 25vw;
  background: #fff;
  z-index: 5;

  filter: blur(00px);
  border-radius: 25vw;
  opacity: 1;

  mix-blend-mode: hard-light;

  display: none;
}

@keyframes animate-torch {
  0% {
    --position-y: 300px;
    --position-x: 300px;
  }
  100% {
    --position-x: 500px;
    --position-Y: 500px;
  }
}
