@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --bg: #efe9e6;
  --light: #fff;
  --dark: #a5a19f;
  --text-color: #676767;
  --main-color: #ff7710;
  --size-button: 40px;
}

body {
  background: #efe9e6;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.search-bar {
  position: relative;
}

.button {
  padding-left: var(--size-button);
  height: var(--size-button);
  width: var(--size-button);
  font-size: 15px;
  border: none;
  color: var(--text-color);
  outline: none;
  transition: all ease 0.3s;
  background-color: var(--bg);
  box-shadow: inset -5px -5px 9px var(--dark), inset 5px 5px 9px var(--light);
  border-radius: 50px;
  cursor: pointer;
}

.search-bar .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 10px 10px 10px 13px;
  pointer-events: none;
}

.search-bar .icon .fa-magnifying-glass {
  width: 100%;
  height: 100%;
  color: var(--main-color);
}
/* focus */
.button:focus,
.button:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: inset 5px 5px 9px var(--dark), inset -5px -5px 9px var(--light);
}

.button:focus + .icon,
.button:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
  color: var(--main-color);
}
